<h1>Word Instance Checker</h1>
<form action='/results'>
  <div class="form-group">
    <label for="user_sentence">Enter your sentence here:</label>
    <input id="user_sentence" name="user_sentence" class="form-control" type="text" placeholder="A sentence please...">
  </div>
  <div class="form-group">
    <label for="word_to_check">Enter your word here:</label>
    <input id="word_to_check" name="word_to_check" class="form-control" type="text" placeholder="A word please...">
  </div>
  <button type="submit" class="btn btn-info">Much Go!</button>
</form>
