<h4>Your sentence was: <%= @user_sentence %> </h4>
<h4>Your word for instance checking was: <%= @word_to_check %> </h4>
<h4>Your word <%= @word_to_check %> occured <%= @word_check_total %> times! </h4>
<button type="button" class="btn btn-info"><a href="/form">Try Again!</a></button>
